__pycache__

# this one is on the windows machine only for temporary stuff
# in general, data should be saved in a different repo
measurement_data

# Mac OS stuff
.DS_Store

# jupyter artifacts
notebooks/.ipynb_checkpoints